.display{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: calc(100% - 10px);
  margin: 5px;
  margin-bottom: 30px;
  height: 250px;
  overflow: hidden;
  overflow-x: visible;
}

.history {
  color: rgb(187,187,187);
  font-size: 1rem;
}

.main {
  font-size: 3.5rem;
}